!!!
%html
  %head
    %title Helpdesk
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          %a.navbar-brand{:href => "/"} HelpDesk
        #navbar.navbar-collapse.collapse
          %ul.nav.navbar-nav
            - if staff_signed_in?
              %li
                %p.navbar-text
                  Quick Load
                  %input.ticket-quick-load{'data-source' => autocomplete_tickets_path}
              %li
                = link_to t('Logout'), destroy_staff_session_path, method: :delete
            - else
              %li
                = link_to t('staff.login'), new_staff_session_path

    .container
      .row
        %p.notice= notice
        %p.alert= alert

    .container
      .row
        = yield